header{
    background-color: black;
    color: white;
    height: 60px;
    padding-top: 10px;
}
header h1{
    font-size: 30px;
}
.line{
    background-color: blue;
    height: 8px;
}
main .foto-perfil{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
}
main .foto{
    text-align: center;
}
main .formUser{
    max-width: 100%;
}
main .editar input{
    border: none;
    outline: none;
    color: #727272;
    font-size: 16px;
}
main .editar .save{
    margin-top: 30px;
    background-color: blue;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 16px;
}
main .text-line{
    width: 250px;
}