header{
    background-color: black;
    color: white;
    height: 60px;
    padding-top: 10px;
}
header h1{
    font-size: 30px;
}
header .icon{
    width: 40px;
}
main{
    margin-top: 50px;
}
main .foto-perfil{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
main .user h1{
    font-size: 20px;
    margin-top: 30px;
}
main .info{
    text-align: center;
}
main .info button{
    width: 120px;
    height: 32px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    color: #303030;
    cursor:auto;
}
main .stories{
    margin-top: 50px;
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
main #post1{
    margin-top: 30px;
    background-color: rgb(90, 90, 90);
    width: 272px;
    height: 220px;
    display: none;
}
main #post2{
    margin-top: 30px;
    background-color: rgb(90, 90, 90);
    width: 272px;
    height: 220px;
    display: none;
}