header
{
    background-color: #202020;
}

header h1 , header a 
{
    letter-spacing: 5px;
    text-decoration: none;
    color: #FAFAFA;
}

header button
{
    background-color: #202020;
    border: none;
}

header h2 i
{
    color: white;
}

header > .blue
{
    box-shadow: 0px 1.5px 5px #202020;
}

.blue
{
    background-image: linear-gradient(to right, #4169E1 , #1e90ff , #4169E1); 
}
main{
    margin-top: 50px;
}
main .foto-perfil{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
main label img{
    width: 50px;
}
main .info{
    text-align: center;
}
main .info button{
    width: 120px;
    height: 32px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    color: #303030;
    cursor:auto;
}
main #input_foto_perfil{
    display: none;
}
main .ft_perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
}
main .foto_perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
main #picture_input{
    display: none;
}
main .picture{
    width: 500px;
    height: 300px;
    background-color: #ddd;
    color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
}
main form{
    margin-top: 50px;
}
main .username{
    background-color: white;
}
main form input{
    background-color: white;
    border: none;
    outline: none;
}
main .edit-button{
    margin-top: 20px;
}
main .edit-button img{
    display: inline-block;
}
main .edit-button a{
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
.lapis_icon{
    width: 22px;
}
.icon_edit_perfil{
    width: 20px;
}
#post{
    position: absolute;
    padding-left: 420px;
    display: none;
}
.picture button{
    border: none;
    width: 35px;
    height: 30px;
    position: absolute;
    margin-left: 467px;
    margin-bottom: 270px;
}
.picture .x-icon{
    width: 15px;
    padding-bottom: 3px;
}
.picture .newpost-icon{
    width: 130px;
    cursor: pointer;
}
#post_perfil{
    width: 300px;
    height: 220px;
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    display: none;
}