header
{
    background-color: #202020;
}

header h1 , header a 
{
    letter-spacing: 5px;
    text-decoration: none;
    color: #FAFAFA;
}

header button
{
    background-color: #202020;
    border: none;
}

header h2 i
{
    color: white;
}

header > .blue
{
    box-shadow: 0px 1.5px 5px #202020;
}

.blue
{
    background-image: linear-gradient(to right, #4169E1 , #1e90ff , #4169E1); 
}
main{
    margin-top: 50px;
}
main .foto-perfil{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
main .user h1{
    font-size: 20px;
    margin-top: 30px;
}
main .info{
    text-align: center;
}
main .info button{
    width: 120px;
    height: 32px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    color: #303030;
    cursor:auto;
}
main #input_foto_perfil{
    display: none;
}
main .foto_perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
main #picture_input{
    display: none;
}
main .picture{
    width: 300px;
    height: 220px;
    background-color: #ddd;
    color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
main form{
    margin-top: 50px;
}
main .username{
    background-color: white;
}
main form input{
    background-color: white;
    border: none;
    outline: none;
}
main .edit-button{
    margin-top: 20px;
}
main .edit-button img{
    display: inline-block;
}
main .edit-button a{
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
.lapis-icon{
    width: 22px;
}
.icon_edit_perfil{
    width: 20px;
}
#side-bar
{
    background-color: #202020;
    border-radius: 0px 0px 10px 10px;
    height: 35rem;
}

#side-bar #idk
{
    height: 22rem;
    max-height: 22rem;
}

#side-bar a > i , #side-bar button > .fa-plus
{
    color: white;
}

#side-bar a
{
    text-decoration: none;
}

#side-bar button
{
    background-color: #202020;
    border: none;
}